@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.max-content{
    padding: 16px;
    width: 100%;
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    padding: 14px 20px;
    font-size: 13px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 27px;
}

.castle{
    display: flex;
    align-items: center;
}

.search{
    max-width: 992px;
    margin: auto;
    font-size: 16px;
    color: #626262;
    opacity: 0.5;
    padding: 40px 16px 16px 16px;
}

.search input{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    border-bottom: solid 1px #757575;
}

.horizontal-line{
    background: #FFFFFF;
    opacity: 0.4;
    margin: 16px 0;
}

.Moscow-Restaurants{
    max-width: 992px;
    margin: auto;
    font-size: 22px;
    line-height: 34px;
    padding: 0px 16px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 16px;
    max-width: 992px;
    padding: 16px;
    margin: auto;
    flex-wrap: wrap;
}

.cards h3{
    max-width: 1291px;
    margin: auto;
}

.member,
.member:link{
    display: inline-block;
    text-decoration: none;
    color: #1D1D1D;
    margin-bottom: 36px;
}

.member h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.member h4{
    color: #626262;
    font-weight: 400;
    font-size: 14px;
    margin: 4px 0;

}

.member h5{
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.footer{
    background: #262626;
}

.max-content-footer{
    max-width: 992px;
    padding: 32px 16px;
    margin: auto;
}

.f-widow{
    color: white;
    display: flex;
    gap: 64px;
    font-size: 13px;
}


.footer > h1{
    margin-left: 32px;
}

.appStore{
    display: flex;
    justify-content: center;
    margin: 41px 0;
}

.ty{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.svg{
    position: fixed;
}


@media screen and (max-width: 665px) {
    .f-widow {
        flex-direction: column;
        gap: 16px;
    }

    .Moscow-Restaurants{
        line-height: 1;
    }
  }