@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.max-content{
    padding: 16px;
    width: 100%;
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading button{
    padding: 14px 20px;
    font-size: 13px;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 27px;
}

.castle{
    display: flex;
    align-items: center;
}

.big-tp{
    margin: auto;
    padding: 16px;
    width: 100%;
    max-width: 992px;
    background: url(./картинки/Osn.png);
}

.big-tp .promo-place{
    background: white;
    padding: 32px;
    display: inline-block;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    margin: 40px 0;
}

.big-tp .promo-place p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.big-tp .promo-place h2{
    font-size: 36px;
    color: #1D1D1D;
    font-weight: 400;
    margin-top: 0;
}

.big-tp .promo-place span{
    color: #626262;
}

.big-tp .promo-place button{
    background: black;
    border-radius: 50px;
    color: white;
    outline: none;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.dish-nav{
    display: flex;
    margin: auto;
    padding: 32px 16px;
    width: 100%;
    max-width: 992px;
    gap: 40px;
    flex-wrap: wrap;
}

.dish-nav a{
    text-decoration: none;
    color: #626262;
}

.nom-nom{
    margin: auto;
    padding: 16px;
    max-width: 992px;
    font-size: 22px;
    color: #1D1D1D;
}

.dish-list{
    display: flex;
    justify-content: center;
    gap: 16px;
    max-width: 992px;
    padding: 16px;
    margin: auto;
    flex-wrap: wrap; 
    margin-bottom: 80px;
}

.dish-list .eda{
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 160px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
}

.dish-list .eda h3{
    margin: 0;
    font-size: 16px;
    color: #1D1D1D;
    font-weight: 400;
}

.dish-list .eda section p{
    font-size: 13px;
    color: #626262;
    margin-top: 8px;
}

.dish-list .eda p{
    margin: 0;
}


.dish-list .eda div{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.max-content-footer{
    max-width: 992px;
    padding: 32px 16px;
    margin: auto;
}

.footer{
    background: #262626;
}

.max-content-footer{
    max-width: 992px;
    padding: 32px 16px;
    margin: auto;
}

.f-widow{
    color: white;
    display: flex;
    gap: 64px;
    font-size: 13px;
    flex-wrap: wrap;
}

.footer > h1{
    margin-left: 32px;
}

.appStore{
    display: flex;
    justify-content: center;
    margin: 41px 0;
}

.ty{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.svg{
    position: fixed;
}

@media screen and (max-width: 665px) {
    .f-widow{
        flex-direction: column;
        gap: 16px;
    }
    .dish-nav{
        display: none;
    }
  }
  